﻿<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<style type="text/css">
    img {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
    }

    .row {
        padding-bottom: 2em
    }

    .weight {
        background-color: red !important;
        color: white !important;
    }
    
</style>
<img src="../static/1234.png" width="100%">
<div class="container-fluid" style=" padding: 1em">
    <div class="row">
        <div class="col-md-1">
            <label for="time"> Bias (1) </label>
            <input readonly class="form-control" type="text" name="time" placeholder="1" />
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <label for="result"> b1 (1) </label>
            <input id="b1-1" readonly class="form-control weight" type="text" name="result" />
        </div>
        <div class="col-md-1">
            <label for="result"> d b1 (1) </label>
            <input id="db1-1" readonly class="form-control dre" type="text" name="result" />
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <label for="result"> Bias (2) </label>
            <input readonly class="form-control" type="text" name="result" />
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <label for="result"> b1 (2) </label>
            <input id="b1-2" readonly class="form-control weight" type="text" name="result" />
        </div>
        <div class="col-md-1">
            <label for="result"> d b1 (2) </label>
            <input id="db1-2" readonly class="form-control dre" type="text" name="result" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <label for="result"> b2 (1) </label>
            <input id="b2-1" readonly class="form-control weight" type="text" name="result" />
        </div>
        <div class="col-md-1">
            <label for="result"> d b2 (1) </label>
            <input id="db2-1" readonly class="form-control dre" type="text" name="result" />
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <label for="result"> z1 (1) </label>
            <input id="z1-1" readonly class="form-control" type="text" name="result" />
        </div>
        <div class="col-md-1">
            <label for="result"> a1 (1) </label>
            <input id="a1-1" readonly class="form-control" type="text" name="result" />
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <label for="result"> w1 (2)</label>
            <input id="w1-2" readonly class="form-control weight" type="text" name="result" />
        </div>
        <div class="col-md-1">
            <label for="result"> d w1 (2) </label>
            <input id="dw1-2" readonly class="form-control dre" type="text" name="result" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label for="salary"> x1 </label>
            <input id="x1" class="form-control" type="text" name="salary" placeholder="Nhập lương" />
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <label for="time"> w11(1)  </label>
            <input id="w11-1" readonly class="form-control weight" type="text" name="time" />
        </div>
        <div class="col-md-1">
            <label for="result"> d w11 (1) </label>
            <input id="dw11-1" readonly class="form-control dre" type="text" name="result" />
        </div>
        <div class="col-md-6">
        </div>
        <div class="col-md-1">
            <label for="result"> z1(2)</label>
            <input id="z1-2" readonly class="form-control" type="text" name="result" />
        </div>
        <div class="col-md-1">
            <label for="result"> a1(2) </label>
            <input id="a1-2" readonly class="form-control" type="text" name="result" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <label for="result"> w12(1) </label>
            <input id="w12-1" readonly class="form-control weight " type="text" name="result" />
        </div>
        <div class="col-md-1">
            <label for="result"> d w12 (1) </label>
            <input id="dw12-1" readonly class="form-control dre" type="text" name="result" />
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <label for="result"> z2(1) </label>
            <input id="z2-1" readonly class="form-control" type="text" name="result" />
        </div>
        <div class="col-md-1">
            <label for="result"> a2(1) </label>
            <input id="a2-1" readonly class="form-control" type="text" name="result" />
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <label for="result"> w2(2) </label>
            <input id="w2-2" readonly class="form-control weight" type="text" name="result" />
        </div>
        <div class="col-md-1">
            <label for="result"> d w2 (2) </label>
            <input id="dw2-2" readonly class="form-control dre" type="text" name="result" />
        </div>
        <div class="col-md-1">         
        </div>
        <div class="col-md-1">
            <label for="result">LOSS </label>
            <input style="background-color:lightblue"id="loss" readonly class="form-control" type="text" name="result" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label for="time"> x2 </label>
            <input id="x2" class="form-control" type="text" name="time" placeholder="Nhập Thời gian làm việc" />
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <label for="result"> w21(1) </label>
            <input id="w21-1" readonly class="form-control weight" type="text" name="result" />
        </div>
        <div class="col-md-1">
            <label for="result"> d w21 (1) </label>
            <input id="dw21-1" readonly class="form-control dre " type="text" name="result" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-1">
            <label for="result"> w22(1) </label>
            <input id="w22-1" readonly class="form-control weight" type="text" name="result" />
        </div>
        <div class="col-md-1">
            <label for="result"> d w22 (1) </label>
            <input id="dw22-1" readonly class="form-control dre" type="text" name="result" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
            <button onkeypress="next()" onclick="next()" class="form-control btn btn-outline-primary">NEXT</button>
        </div>
        <div class="col-md-2">
            <button onkeypress="prev()" onclick="prev()" class="form-control btn btn-outline-secondary">PREV</button>
        </div>
        <div class="col-md-2">
            <input id="epochs" readonly class="form-control" type="text" name="result" />
        </div>

    </div>
</div>

<script>
    var c = 0;
    var k = 0;
    var data;
    var verbose;
    var loss;

    $(document).ready(function () {

        verbose = JSON.parse(localStorage.getItem("data")).verbose;
        loss = JSON.parse(localStorage.getItem("data")).loss;
        data = JSON.parse(localStorage.getItem("data")).data;
        console.log(JSON.parse(localStorage.getItem("data")))

        getDataOnEpoch(0)
        $("#loss").val(loss[0]);    
        $("#epochs").val("EPOCH:1");
        var elem = document.documentElement;
        elem.webkitRequestFullscreen()
        
    });

    function getDataOnEpoch(i) {
        var thisData = data[i];
        var weightLayer1 = thisData[1]
        var weightLayer2 = thisData[2]

        var biasLayer1 = thisData[3]
        var biasLayer2 = thisData[4]

        var inputx = thisData[5]

        var resultLayer1 = thisData[6]
        var resultLayer2 = thisData[7]

        var bresultLayer1 = thisData[12]
        var bresultLayer2 = thisData[13]

        var dweightLayer1 = thisData[8]
        var dweightLayer2 = thisData[9]

        var dbiasLayer1 = thisData[10]
        var dbiasLayer2 = thisData[11]

        $("#x1").val(inputx[0][0])
        $("#x2").val(inputx[0][1])

        $("#a1-1").val(resultLayer1[0][0])
        $("#a2-1").val(resultLayer1[0][1])

        $("#a1-2").val(resultLayer2[0])

        $("#z1-1").val(bresultLayer1[0][0])
        $("#z2-1").val(bresultLayer1[0][1])

        $("#z1-2").val(bresultLayer2[0])

        $("#w11-1").val(weightLayer1[0][0]);
        $("#w12-1").val(weightLayer1[0][1]);
        $("#w21-1").val(weightLayer1[1][0]);
        $("#w22-1").val(weightLayer1[1][1]);
        $("#b1-1").val(biasLayer1[0]);
        $("#b2-1").val(biasLayer1[1]);

        $("#dw11-1").val(dweightLayer1[0][0]);
        $("#dw12-1").val(dweightLayer1[0][1]);
        $("#dw21-1").val(dweightLayer1[1][0]);
        $("#dw22-1").val(dweightLayer1[1][1]);
        $("#db1-1").val(dbiasLayer1[0]);
        $("#db2-1").val(dbiasLayer1[1]);


        $("#w1-2").val(weightLayer2[0]);
        $("#w2-2").val(weightLayer2[1]);
        $("#b1-2").val(biasLayer2[0]);

        $("#dw1-2").val(dweightLayer2[0]);
        $("#dw2-2").val(dweightLayer2[1]);
        $("#db1-2").val(dbiasLayer2[0]);
    }
    function next() {    
        c++;
        if (c == data.length) return
        getDataOnEpoch(c+1)
        $("#epochs").val("EPOCH: "+  (c + 1));
        if (c % verbose == 0) {
            k++;
            $("#loss").val(loss[k]);           
        }
    }
    function prev() {

        c--;
        if (c == -1) return
        getDataOnEpoch(c+1);
        $("#epochs").val("EPOCH: "+ (c + 1));
        if (c % verbose == 0) {
            k--;
            $("#loss").val(loss[k]);
        }
    }



</script>