<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>


<body style="margin:1em">
    <div>
        <h2> <p> DEMO MẠNG NƠ RON NHÂN TẠO - ARTIFICIAL NEURAL NETWORK </p> </h2>
    </div>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-3">
                <label for="epoch"> Epoch </label>
                <input class="form-control" id="epoch" type="text" name="epoch" placeholder="Nhập epoch" value="1000" />
            </div>

            <div class="col-md-3">
                <label for="verbose"> Hiển thị Loss sau mỗi </label>
                <input class="form-control" id="verbose" type="text" name="verbose" placeholder="Nhập verbose" value="10" />
            </div>

        </div>

    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-3">
                <label for="salary"> Lương </label>
                <input id="salary" class="form-control"  type="text" name="salary" placeholder="Nhập lương" value="5"/>
            </div>

            <div class="col-md-3">
                <label for="time"> Thời gian làm việc </label>
                <input id="time" class="form-control"  type="text" name="time" placeholder="Nhập Thời gian làm việc" value="5" />
            </div>

            <div class="col-md-3">
                <label for="result"> Quyết định </label>
                <input id="result" readonly class="form-control"  type="text" name="result" />

            </div>

        </div>

    </div>
    <div style="margin:1em">
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" onclick="fit()"> TRAIN </button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" onclick="demo()"> DEMO </button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-secondary" onclick="test()"> TEST </button>
            </div>
        </div>


        <div style="margin-top:1em ;border:2px solid green; padding:1em">
            <p id="log"></p>
        </div>

    </div>
</body>
<script>
    function fit() {
        epoch = $("#epoch").val();
        verbose = $("#verbose").val();

        var formData = new FormData();
        formData.append('epoch', epoch);
        formData.append('verbose', verbose);
        console.log(formData);
        $.ajax({
            url: '/fit',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data.data);
                $("#log").html(data.result);
                log = data.result.split("<br/>");
                log.forEach(element => function () {
                        $("#log").html(element)
                })


                
            }
        });
    }


    function demo() {
        epoch = $("#epoch").val();
        verbose = $("#verbose").val();
        localStorage.setItem("verbose", verbose);
        var formData = new FormData();
        formData.append('epoch', epoch);
        formData.append('verbose', verbose);
        $.ajax({
            url: '/fitdemo',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data.data)
                localStorage.setItem("data", JSON.stringify(data));
                
                location.href="/demo"
            }
        });
    }

    function test() {
        salary = $("#salary").val();
        time = $("#time").val();
        epoch = $("#epoch").val();
        verbose = $("#verbose").val();
        var formData = new FormData();
        formData.append('salary', salary);
        formData.append('time', time);
        formData.append('epoch', epoch);
        formData.append('verbose', verbose);
        console.log(formData);

        $.ajax({
            url: '/test',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                $("#result").val(data.result);
                }
        });
    }
</script>